body{
  content: '';
}
.page{
  width: 100%;
  /* height: max-content; */
  /* height: 700px; */
  /* background-color: #2F2F2F; */
  background-color: #60a0e4;
  /* background: rgba(0,0,0,0.3); */
  /* background-image: url("./assets/"); */
  background-image: url("./assets/food_image.jpg");
  /* background-position-y: 40deg ; */
  /* transform: rotateZ(0deg); */
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

